@model UserModel 
 
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> KAYIT ISLEMLERI</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
        </div>
        <form asp-action="Create" asp-controller="User" method="post" class="checkout__form">
            <div class="row">
                <div class="col-lg-8">
                    <h5>KISISEL BILGILER</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>AD SOYAD <span>*</span></p>
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>e-mail <span>*</span></p>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="checkout__form__input">
                                <p>SIFRE <span>*</span></p>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>TEL NO <span>*</span></p>
                                    <input asp-for="Id" class="form-control" />
                                    <span asp-validation-for="Id"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div>

                                <p>Kayit Izni</p>

                               
                            </div>
                            <p>Kisisel verilerimin kaydedilmesine izin veriyorum</p>
                            <div>
                                
                               
                            </div>
                            <button type="submit" class="btn btn-primary btn-mid">KAYDI BITIR</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </form>
    </div>
</section>
<!-- Checkout Section End -->
