@model AddProduct

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <form asp-area="Admin" asp-controller="Product" asp-action="Create" method="post">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>URUNLER</h1>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-sm">Kaydet</button>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Id"></label>
                                                    <input asp-for="Id" class="form-control" />
                                                    <span asp-validation-for="Id"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Name"></label>
                                                    <input asp-for="Name" class="form-control" />
                                                    <span asp-validation-for="Name"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="IsActive"></label>
                                                    <input asp-for="IsActive" class="form-control" />
                                                    <span asp-validation-for="IsActive"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Price"></label>
                                                    <input asp-for="Price" class="form-control" />
                                                    <span asp-validation-for="Price"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Description"></label>
                                                    <textarea class="form-control" asp-for="Description"></textarea>
                                                    <span asp-validation-for="Description"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="Stock"></label>
                                                    <input asp-for="Stock" class="form-control" />
                                                    <span asp-validation-for="Stock"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </form>
</div>
<!-- /.content-wrapper -->
@section Css {
    <!-- iCheck -->
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/admin/plugins/summernote/summernote-bs4.min.css">
    <!-- image-uploader -->
    <link rel="stylesheet" href="~/admin/plugins/image-uploader/image-uploader.min.css" />
}

@section Js {
    <!-- Bootstrap Switch -->
    <script src="~/admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/admin/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/admin/plugins/image-uploader/image-uploader.min.js"></script>

    <script>
        $(function () {
            // Summernote
            $('#Description').summernote({
                height: 200
            });
            $('#Summary').summernote({
                height: 200
            });
            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            });
            $(".input-images-1").imageUploader();
        });
    </script>
}
